*
{
    background-image: url("/images/black-brick-wall-textured-background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@font-face {
    font-family: 'EraserDust';
    src: url(./fonts/EraserDust.ttf);
}

h1 {
    font-family: 'EraserDust', sans-serif;
    color: aliceblue;
    font-size: 150pt;
    text-align-last: center;
}

img {
    display: none;
}

button {
    border-color: antiquewhite;
    font-family: 'EraserDust', sans-serif;
    color: aliceblue;
    font-size: 50pt;
    height: 80px;
    width: 80px;
}