* {
    background-image: url("/images/black-brick-wall-textured-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@font-face {
    font-family: 'EraserDust';
    src: url(./fonts/EraserDust.ttf);
}

h1 {
    font-family: 'EraserDust', sans-serif;
    color: aliceblue;
    font-size: 120pt;
    text-align-last: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: orange solid 2px;
}

button {
    border-color: antiquewhite;
    font-family: 'EraserDust', sans-serif;
    color: aliceblue;
    font-size: 50pt;
    height: 80px;
    width: 80px;
    margin: 5px;
    border: purple solid 2px
}

.hangman_container {
    display: flex;
    border: green solid 2px;
}

.start_button,
.reset_button {
    text-align: center;
}

.letters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    border: turquoise solid 2px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#images {
    border: white solid 2px;
    width: 100%;
}

#interactive {
    display: flex;
    flex-direction: column;
    border: blue solid 2px;
}

#word {
    border: pink solid 2px;
    font-family: 'EraserDust', sans-serif;
    color: aliceblue;
    font-size: 50px;
    align-self: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

#main {
    position: relative;
    min-height: 100vh;
}

#content {
    padding-bottom: 2.5rem;
    border: red solid 2px;
}

#head,
#body,
#left_arm,
#right_arm,
#left_leg,
#right_leg {
    display: none;
}

#start_button,
#reset_button {
    width: 200px;
}

#start_button {
    display: none;
}

@media (max-width: 1680px) {

    img {
        width: 50%;
        height: auto;
    }

    h1 {
        font-size: xxx-large;
    }

    button {
        font-size: xxx-large;
        height: 65px;
        width: 65px;
        margin: 5px;
    }

    .hangman_container {
        flex-direction: column;
        align-items: center;
    }

    .letters {
        margin-bottom: 0px;
    }

    .reset_button {
        align-self: end;
    }

    #images {
        text-align: center;
    }

    #word {
        font-size: xxx-large;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 820px) {
    .hangman_container {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: xx-large;
    }

    button {
        font-size: xx-large;
        height: 50px;
        width: 50px;
        margin: 3px;
    }

    #images {
        text-align: center;
    }

    #word {
        font-size: xx-large;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #letters {
        margin-bottom: 30px;
    }
}